<div class="container">
  <div class="row">
    <div class="wrapper col-md-5 col-md-offset-3 col-sm-10">

          <div class="user_show_area">
            <div class="user_show_profile_image" >
              <%= profile_img(@user) %>
            </div>
            <div class="user_show_name">
              <%= @user.name %>
            </div>
            <div class="user_show_follow_form">
              <%= render 'follow_form', user: @user %>
            </div>
          </div>

          <div class="user_show_followed_users_area">
            <%= render partial: 'followed_users', locals: {user: @user, followed_users: @followed_users} %>
          </div>

          <div class="user_show_followers_area">
            <%= render partial: 'followers', locals: {user: @user, followers: @followers} %>
          </div>

    </div>
  </div>
</div>
